.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  border: 2px solid var(--color-dark);
  cursor: pointer;
  border-radius: 0.1875rem;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.red {
  border: 2px solid red;
  background-color: lightcoral;
}

.green {
  border: 2px solid green;
  background-color: lightgreen;
}