.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--color-text);
  border-radius: 0.1875rem;
  aspect-ratio: 1;
  overflow: hidden;
}

.image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding-block: 1rem;
}

.red {
  border: 2px solid red;
  background-color: lightcoral;
}

.green {
  border: 2px solid green;
  background-color: lightgreen;
}