.foodItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border: 3px solid black;
  border-radius: 0.1875rem;
}

.image {
  object-fit: cover;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  padding-block: 1rem;
}
