.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.status {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
  font-size: 1.5rem;
}

.metadata {
  display: flex;
  align-items: center;
}

.metadata .datum {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0.5rem;
}

.header {
  font-size: calc(2rem);
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  position: relative;
  cursor: pointer;
}

.separator {
  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  color: var(--color-text);
  background: var(--color-background);
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
}


@container main (min-width: 480px) {
  .cards {
    flex-direction: row;
  }

  .separator {
    inset: 50%;
    height: 8rem;
    width: 8rem;
    font-size: 3rem;
  }
}
