:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-dark: #000000;
  --color-light: #f0f0f0;
  --color-text: var(--color-dark);
  --color-background: var(--color-light);
  --color-background-container: color-mix(in srgb,var(--color-background),var(--color-text) 10%);
  --color-background-header: color-mix(in srgb,var(--color-background),var(--color-text) 20%);
  --color-background-highlight: color-mix(in srgb,var(--color-background),var(--color-text) 30%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-light);
    --color-background: var(--color-dark);
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter;
  line-height: 1.5;
}

main {
  max-width: min(120ch, 90%);
  margin-inline: auto;
  font-family: Inter;
  container: main / inline-size;
}

a[class] {
  color: inherit;
  text-decoration: none;
}

.ctaButton {
  position: relative;
  font-size: 1.25rem;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  border-radius: 0.1875rem;
  padding: 1.5rem 2.5rem;
  border: 0.1875rem solid transparent;
  background: var(--color-background-container);
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.ctaButton.--small {
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
}

.ctaButton:active {
  transform: translateY(0.1875rem);
}

.ctaButton::after,
.ctaButton::before {
  border-radius: 0.1875rem;
}

.ctaButton:hover,
.ctaButton:focus-visible {
  background: transparent;
  box-shadow: none;
}

.ctaButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.1875rem solid darken(var(--color-text), 10%);
  transition: opacity 0.3s, border 0.3s;
}

.ctaButton:hover::before,
.ctaButton:focus-visible::before {
  opacity: 0;
}

.ctaButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0.1875rem solid currentColor;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.ctaButton:hover::after,
.ctaButton:focus-visible::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
